/* GERAL */

* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
}

body{
    background: url("../assets/Fundo.jpg") no-repeat fixed center;
    background-size: cover;
}

h1{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 36px;
    color: blue;
    font-weight: bold;
    text-align: center;
}

/* HEADER */

header{
    width: 100%;
    padding: 15px 0;
}

.logo{
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
}

/* ADICIONAR TAREFAS */

.add-item{
    display: flex;
    width: 560px;
    height: 85px;
    margin: 0 auto;
    align-items: center;
}

#input{
    width: 500px;
    height: 40px;
    border: 2px solid rgb(25, 90, 205); 
}

.add{
    width: 50px;
    height: 50px;
    margin-top: 4px;
    margin-left: 5px;
}

.add:hover{
    cursor: pointer;
}

/* BLOCOS */

.flexbox{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

.blocos{
    flex: 1;
    height: 15em;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(20, 20, 20, 0.8);
    background: white;
}

.titulo{
    display: flex;
    width: 160px;
    margin: 0 auto;  
}

.titulo-texto{
    text-align: center;
    margin: 0 auto;
}

.titulo-img{
    margin: 0 auto;
}

.blocos li{
    background: rgba(25, 90, 205, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 0px 0px 10px 0px;
}

/* RODAPÉ */

footer{
    display: flex;
    width: 290px;
    height: 40px;
    margin: 0 auto;
    align-items: center;
}

.rodape{
    text-align: center;
}

.git{
    width: 40px;
    height: 40px;
    margin-left: 5px;
}

