/* GERAL */

body{
    background: url("assets/Fundo.jpg") no-repeat fixed center;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
    text-align: left;
	color: black;
	font-size: 20px;
}

h1{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: white;
}

h2{
    font-size: 36px;
    color: blue;
    font-weight: bold;
	text-align: center;
}

.center {
	display: flex;
	align-items: center;
	margin: 0 auto;
}

.fas{
    margin-left: 7px;
}

/* HEADER */

.app-header{
    width: 100%;
    padding: 3% 0;
}

/* ADICIONAR TAREFAS */

.add-item{
	margin-top: 2%;
    width: 500px;
	height: 50px;
}

.input{
	background: white;
    width: 100%;
    height: 30px;
	border: 2px solid rgb(25, 90, 205);
	padding: 5px 10px;
	font-size: 22px;
}

.fa-plus-square:hover{
    color: blue;
    cursor: pointer;   
}

/* BLOCOS */

.flexbox{
    max-width: 1200px;
    flex-wrap: wrap;
}

.blocos{
    flex: 1;
	width: 300px;
	min-height: 18em;
    margin: 20px 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(20, 20, 20, 0.8);
    background: white;
}

.blocos h2{
	margin-bottom: 10px;
}
/* CONTEÚDO*/

.coluna li{
    margin: 0 0 15px 0;
    background: rgba(25, 90, 205, 0.3);
    border-radius: 10px;
    padding: 10px 10px;
	position: relative;
	text-align: center;
}

ul .fas{
	margin-left: 3px;
}

li:hover{
    background: blue;
}

.fa-chevron-circle-right:hover{
    color: white;
    cursor: pointer;   
}

.fa-times-circle:hover{
    color: white;
    cursor: pointer;   
}

/* RODAPÉ */

.footer{
    height: 40px;
}

.rodape{
    text-align: center;
}

.fab{
	color: black;
	margin-left: 5px;
}

.fa-github:hover{
	color: white;
}

